@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
@model UserLoginViewModel

@{
    ViewData["Title"] = "User Login";
}

<div class="grid flex-col grid-cols-6 m-auto gap-2125 pt-5000 pb-3750">

    <div class="w-1/2 col-span-6 m-auto view-card">


        <form x-data="ajaxFormValidation({
    formRefName: 'loginUserForm',
    validationEndpoint: '/user-login',
    antiforgeryToken: '@Antiforgery.GetAndStoreTokens(Context).RequestToken',
    unselectedValue: null,
    initialData: {
        Email: '@(Model?.Email)',
        Password: '@(Model?.Password)'
    }
})" novalidate="novalidate" method="POST"
              enctype="application/x-www-form-urlencoded" x-on:submit.prevent="submitForm"
              x-ref="loginUserForm" id="loginUserForm">
            <div class="flex flex-col justify-center w-full px-20 py-10 m-auto" aria-label="Form Add User">

                <fieldset :disabled="isSubmitting">
                    <div class="flex justify-center py-1875">
                        <h1>@ViewData["Title"]</h1>
                    </div>
                    <div class="flex">
                        <div class="w-full pb-1875">
                            <label asp-for="Email" class="form-label alpha-form-label"></label>
                            <input asp-for="Email" type="text" class="alpha-form-input" x-model="formData.Email"
                                   x-on:input.debounce.500ms="validateField('Email')"
                                   x-on:blur="validateField('Email')">

                            <!-- Hiding and Showing Icon based on validation response -->
                            <i class="alpha-form-validation-icon" data-lucide="octagon-alert" x-ref="EmailIconRef"
                               :class="{ 'alpha-form-show': !validateField.Email && errors.Email?.length }"
                               x-transition></i>

                            <span asp-validation-for="Email" class="alpha-form-error-message"></span>
                        </div>
                    </div>
                    @* --- Password Section --- *@
                    <div class="flex">
                        <div class="w-full pb-1875">
                            <label asp-for="Password" class="form-label alpha-form-label"></label>
                            <input asp-for="Password" type="Password" class="alpha-form-input"
                                   x-model="formData.Password"
                                   x-on:input.debounce.500ms="validateField('Password')"
                                   x-on:blur="validateField('Password')">

                            <!-- Hiding and Showing Icon based on validation response -->
                            <i class="alpha-form-validation-icon" data-lucide="octagon-alert" x-ref="PasswordIconRef"
                               :class="{ 'alpha-form-show': !validateField.Password && errors.Password?.length }"
                               x-transition></i>

                            <span asp-validation-for="Password" class="alpha-form-error-message"></span>
                        </div>
                    </div>

                    <div class="flex py-1500">
                        <!-- Error message container -->
                        <div x-show="errors[formRefName]?.length > 0" class="special-all-error-message">
                            <ul class="list-disc list-inside">
                                <template x-for="(error, index) in errors[formRefName]" :key="index">
                                    <li x-text="error"></li>
                                </template>
                            </ul>
                        </div>
                    </div>

                </fieldset>
                <div class="flex py-1500">
                    <button type="submit" class="w-full btn-primary" :disabled="isSubmitting"
                            :tabindex="isSubmitting ? '-1' : '0'">
                        <!-- Add this line -->
                        <span class="spinner-secondary" x-show="isSubmitting" role="status" aria-label="loading">
                </span>
                        <span x-show="!isSubmitting">
                    Create Account
                </span>
                    </button>
                </div>
                <div class="flex justify-center pb-1875 pt-5000">
                    Already have an account? <a class="p-0 pl-04375 text-alpha-accent dark:text-alpha-accent"
                                                href="@Url.Action("Index", "UserRegistration", new { area = "User" })">Login</a>
                </div>
            </div>
        </form>

    </div>
</div>



